:root {

  --bright-yellow-crayola: hsl(36, 94%, 57%);
  --portland-orange: hsl(15, 84%, 57%);
  --calming-blue: hsl(205, 78%, 60%);
  --battleship-gray: hsl(0, 0%, 53%);
  --silver-chalice: hsl(0, 0%, 70%);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(208, 7%, 46%);
  --raisin-black: hsl(228, 6%, 17%);
  --eerie-black: hsl(210, 3%, 13%);
  --bittersweet: hsl(9, 96%, 69%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --amber: hsl(45, 100%, 51%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(220, 2%, 24%);

  --ff-bangers: 'Bangers', cursive;
  --ff-carter_one: 'Carter One', cursive;
  --ff-nunito_sans: 'Nunito Sans', sans-serif;

  --fs-1: 6.5rem;
  --fs-2: 3.2rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1rem;

  --fw-400: 400;
  --fw-700: 700;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);}
  
  html {
    font-family: var(--ff-nunito_sans);
    /* font-size: 15px; */
    scroll-behavior: smooth;
  }
  nav{
    display:flex;
    gap: 20%;
    
  }
  
  .logo_main{
    font-size: 30px;
    font-family: var(--ff-carter_one);
    /* margin-top: 5%; */
    margin-left: 3%;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-top: 3%;
    /* padding-right: 2%; */
  }
  
  nav ul li a{
    color:#000000;
    text-decoration: none;
    font-size:18px; 
    position: relative;
    font-weight: 700;
  }
  
  nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    background: #0ea5e9;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
  }
  
  nav ul li a:hover::after{
    width:100%;
  }
  
#page-header{
    background-image: url(b1.jpg);
    width:98%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
   }
   #page-header h2{
    font-size: 60px;
    color: #cce7d0;
   }
   #page-header p{
    color: #cce7d0;
    font-size: 30px;
   }
   .guide{
    color: #0ea5e9;
   }
   .heading{
    font-size: 40px;
    margin-left: 33%;
   }
   .container121{
    display: flex;
    margin-top: 4%;
    margin-left: 8%;
    gap: 10%;
   }
   .col-sm-4{
    gap: 15%;
    /* border:  solid 5px; */
    width: 25%;
    height: 5%;
    overflow: hidden;
   }
   .img_blog{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    /* filter: drop-shadow(1); */
    transition: 
      scale 750ms ease-in;
      /* filter: 250ms ease-in-out; */
    /* border:  solid 2px; */
    
   }
   .img_blog:hover{
    scale: 1.15;
   }
   .img_blog2{
    width: 100%;
    height: 58%;
    border-radius: 20px;
    /* filter: drop-shadow(1); */
    transition: 
      scale 750ms ease-in;
      /* filter: 250ms ease-in-out; */
    /* border:  solid 2px; */
    
   }
   .img_blog2:hover{
    scale: 1.1;
   }
   .img_blog3{
    width: 100%;
    height: 53%;
    border-radius: 20px;
    /* filter: drop-shadow(1); */
    transition: 
      scale 750ms ease-in;
      /* filter: 250ms ease-in-out; */
    /* border:  solid 2px; */
    
   }
   .img_blog3:hover{
    scale: 1.15;
   }
   .container122{
    display: flex;
    margin-top: 10%;
    margin-left: 8%;
    gap: 10%;
   }
   .col-sm-4-2{
    gap: 15%;
    /* border:  solid 5px; */
    width: 25%;
    height: 5%;
   }
   .sty{
    color: #0ea5e9;
   }
   .text1{
    /* color: #0ea5e9; */
    font-weight: 100;
    margin: 3%;
   }
   .col-sm-4 h1{
    margin-left: 3%;
   }
   .col-sm-4-2 h1{
    margin-left: 3%;
   }
   .feeds{
    display: flex;
    gap: 10%;
    margin-top: 5%;
    margin-left: 5%;
   }
   .rating{
    width: 30%;
   }
   .rating1{
    font-size: 16px;
   }
   .star{
    display: flex;
   }
   .box-1{
    position: relative;

}
.p1{
    padding: 9px 10px;
    font-size: 15px;

 }
 .skill-container{
  width: 90%;
  background-color: #4d4d4d;
  margin: 0px 10px;
}

.skill{
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  color: whitesmoke;
}
.star5{
   width: 92%;
   background-color: #ffa41c;
}
.star4{
   width: 100%;
   background-color: #ffa41c;
}
.star3{
   width: 60%;
   background-color: #ffa41c;
}
.star2{
   width: 10%;
   background-color: #ffa41c;
}
.star1{
   width: 67%;
   /* background-color: ; */
   margin-bottom: 20px;
}
  .costumer{
    margin-left: 36%;
   }
   .comments{
    display: flex;
   }
   .feed_img{
    width: 9%;
    height: 4%;
    margin-top: 2%;
   }
   .comments2{
    display: flex;
   }
   .comments3{
    display: flex;
   }
   .add{
    width: 100%;
    height: 20%;
    margin-bottom: 5%;
   }
   .add_1{
    width: 80%;
    height: 40%;
   }
   .submit{
    width: 8%;
    height: 30%;
    margin-top: 2%;
    color: white;
    background-color: #4d4d4d;
   }
   :root {

    --bright-yellow-crayola: hsl(36, 94%, 57%);
    --portland-orange: hsl(15, 84%, 57%);
    --calming-blue: hsl(205, 78%, 60%);
    --battleship-gray: hsl(0, 0%, 53%);
    --silver-chalice: hsl(0, 0%, 70%);
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(208, 7%, 46%);
    --raisin-black: hsl(228, 6%, 17%);
    --eerie-black: hsl(210, 3%, 13%);
    --bittersweet: hsl(9, 96%, 69%);
    --light-gray: hsl(0, 0%, 80%);
    --platinum: hsl(0, 0%, 91%);
    --amber: hsl(45, 100%, 51%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(220, 2%, 24%);
  
    --ff-bangers: 'Bangers', cursive;
    --ff-carter_one: 'Carter One', cursive;
    --ff-nunito_sans: 'Nunito Sans', sans-serif;
  
    --fs-1: 6.5rem;
    --fs-2: 3.2rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-8: 1rem;
  
    --fw-400: 400;
    --fw-700: 700;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);}
  
  .footer{
    height: 350px;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 10%;
    font-family: var(--ff-nunito_sans);
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color: var(--raisin-black);
    color: var(--battleship-gray);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
  .footer .container2{
    display: flex;
    line-height: 2; 
    gap: 30px;
  }
  .footer .social-list{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    gap: 10px;
  }
  .footer .contact-list{
    padding: 0px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: var(--fw-700);
  }
  .footer .location{
    display: flex;
    gap: 8px;
  }
  .footer .contact-item{
    display: flex;
    gap:8px;
  }
  .footer .logo {
    color: #FFFFFF;
    font-family: var(--ff-carter_one);
  }
  
  
  .footer a{
    text-decoration: none;
    color: #878787;
  }
  .footer-list-title{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: var(--fw-700);
  }
  .footer .container1{
    margin: 25px 0;
  } 
  .footer .container2{
    justify-content: space-between;
  }
  .footer-link {
    padding-block: 4px;
    transition: var(--transition-1);
  }
  .footer .social-link:is(:hover, :focus) {
    background-color: var(--calming-blue);
    color: var(--white);
  }
  .footer-link:is(:hover, :focus) { color: var(--calming-blue); }
  .footer .footer-top-section{
    display: flex;
    flex-direction: row;
  }
  .footer .footer-top-section .container2{
    display: flex;
    flex-direction: row;
  }
  .footer .footer-text{
    width: 80%;
    text-wrap: wrap;
  }
  .footer .social-link{
    padding: 10px 12px;
    color: var(--black);
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: var(--transition-1);
    text-decoration: none;
  }